* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

// @import 'blocks/promo';
@import "blocks/about";
@import "blocks/skils";
@import "blocks/knowledge";
@import "blocks/contacts";
